.about{
    height: 90vh;
    padding: 2rem 0rem;
    font-family: "Readex-Pro", sans-serif;
    background-color: var(--black-body);
}
.about h1{
    color: var(--white);
    text-align: center;
    padding-bottom: 2rem;
}
.about-flex{
    display: flex;
}
.about .left-content {
    width: 50%;
}
.about .left-content img{
    display: flex;
    margin: auto;
    width: auto;
    height: 90%;
    position:relative;
    color: var(--aqua);
}

.about .right-content {
    width: 40%;
}
.about .right-content p{
    color: var(--white);
    text-align: left;
    line-height: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: 1.2rem;
}
.about .right-content h2{
    color: var(--white);
    font-size: 1.2rem;
    padding-top: 6rem;
}


@media only screen and (max-width: 1200px) {
    .about .left-content img{
        padding-top: 5rem;
        height: 55%;
    }
}

@media only screen and (max-width: 1000px) {
    .about{
        padding: 2rem 2rem;
        height: auto;
    }
    .about .right-content h2{
        padding-top: 2rem;
    }
    .about .right-content a{
        margin-bottom: 5%;
        border-radius: 0.3rem;
        border: 0.15rem solid var(--aqua);
        text-decoration: none;
        list-style: none;
    }
  }
@media only screen and (max-width: 750px) {
    .about-flex{
        display: block;
    }
    .about .left-content {
        width: 100%;
    }
    .about .left-content img{
        width: 35%;
        height:35%;
    }
    .about .left-content img{
        display: flex;
        padding-top: 2rem;
        width: 25%;
        height: 25%;
        margin: auto;
    }
    .about .right-content {
        width: 100%;
    }
    .about .right-content a{
        font-size: 1rem;
        padding: 0.6rem 1rem;
        border-radius: 0.2rem;
    }

  }
@media only screen and (max-width: 550px) {
    .about .left-content img{
        width: 40%;
        height: 40%;
    }

  }
@media only screen and (max-width: 400px) {
    .about .right-content a{
        font-size: 0.8rem;
        padding: 0.4rem 0.9rem;
        border-radius: 0.2rem;
    }

  }

